<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include partials/header.ejs %>
  </head>
  <body>

    <div id=#wrapper>
      <div class="container-fluid">
        <% include partials/nav.ejs %>

        <div class="iceland">
          <img src="/images/Iceland2.jpg">
          <img class="img-circle tomIceland" src="/images/Tom.jpg">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9">

              <div id="about">
                <h2>About me</h2>
                <blockquote class="blockquote">
                  <p>Hi I'm Tom, and I'm learning full stack web development and aspire to work in Salesforce Development. I'm a certfied Salesforce Platform Developer and a certified Salesforce Adminstrator. I am seeking new challenges to be an impact driver in Salesforce Development. This website was created using NodeJS and Express, and styled with the CSS framework Bootstrap. Though I currently reside in South Windsor, CT, I am open to opportunities within Central and Southern Connecticut. </p>
                </blockquote>
              </div>

              <div class="resume">
                <a href="/TomTam_Resume.pdf" target="_blank">Resume PDF</a>
                <!-- <embed src="/assets/TomTam_Resume.pdf" width="800px" height="2100px" /> -->
              </div>


            </div>
          </div>
        </div>
        <% include partials/footer.ejs %>

      </div>
    </div>
    <!-- end of wrapper div -->
  </body>
</html>
