<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include partials/header.ejs %>
  </head>
  <body>

    <div id=#wrapper>
      <div class="container-fluid">
        <% include partials/nav.ejs %>
        <div class="iceland">
          <img src="/public/images/iceland2.jpg">
        </div>
      </div>
    </div>
    <!-- end of wrapper div -->
  </body>
</html>
