<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include partials/header.ejs %>
  </head>
  <body>

    <div id=#wrapper>
      <div class="container-fluid">
        <% include partials/nav.ejs %>

        <div class="iceland">
          <img src="/images/Iceland2.jpg">
        </div>
        <div class="index-h1">
          <h1>Tom Tam</h1>
          <p>Full Stack Developer</p>
        </div>
        <div>
          <div id="headshot">
            <img class="img-responsive img-circle image-tom center-block" src="https://lh3.googleusercontent.com/byHZbxXoFNfsmxbL2-MIeb9E2MgHI44cWj1N-Ocejhvt1sFiFSDESwoX1DysQKOg1zxaXaAD0zwWJopeG0LeaJpnFjM0WD75QPxdR2ljxF86MTLS7hiZPbpuI09xkoQaRRrtXS6ZLHqTymXdWNRFQDnI99itK1t2ui5h6NnDJQZr0Ri5Pv8ZdXgyu6jZ0tmitS5QJVPgRrQWrf6BWs_BSuOn7mVcEI_cGy4SjVDoVqBUhWFOkQo3F2GLaMZUK_R8w8i-_2wpWGLVuZCII0kzK9wbhH85-miqBVeMT12U5nFRNUcWrTrEY25v1v7R-NeRv78og-sLVEKfrx2iMxURiZipRv_NTz9fFKFc2G1LtgXjHRPUC_t-PVbFvmQeFkTI7ZFYfwkVrCKjze7CG8Z7HfW8M-RO6YR3dEasu7wtHLVUwYcFQIXUm6Pfow0b_RJCHksoITDWxYX2166OxeXhR00Iuona8MJRVC905RrMWT1Y8h0CI6GOYajYJVs_6hXDxLc_cTQ4I20VaORvmOA6w3OvrLnr9Nq5824pGtjxQiGwOERnsRdfJappwdeaxjFqanwlCDaCZ7KdVrq_K2F2Su6wHXTR9Cqp3ksNoQEZw41vn4eSi1TeeeIhYw=w752-h887-no">
          </div>
        </div>
        <% include partials/footer.ejs %>

      </div>
    </div>
    <!-- end of wrapper div -->
  </body>
</html>
